/*index.css*/
body {
  background-color: rgb(171, 202, 246);
}

h2 {
  margin-top: 50px;
  text-decoration: wavy underline rgb(1, 21, 110);
  text-underline-offset: 20px;
  color:  rgb(1, 21, 110);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  font-style: italic;
  margin-bottom: 50px;
}
  
h3, p, h1, h4, .secleft {
  text-align: center;
}

.clock {
  margin-bottom: 50px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:  rgb(226, 53, 0);
}

.secleft {
  text-decoration: wavy underline rgb(1, 21, 110);
  text-underline-offset: 15px;
  font-size: 17px;
  color: rgb(1, 21, 110);
  font-weight: 325;
}

h1 {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:  rgb(226, 53, 0);
}

input {
  display: block;
  margin: auto;
  border: 2px solid rgb(226, 53, 0);
}

.limit {
  margin-top: 15px;
  font-size: 17px;
  color: rgb(1, 21, 110);
  font-weight: 325;
}

#numlim {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:  rgb(226, 53, 0);
  font-size: 25px;
}

#numberlimit {
  width: 15rem;
  margin-bottom: 23px;
}

.score {
  text-decoration: wavy overline rgb(1, 21, 110);
  padding-bottom: 15px;
}

h4 {
  color: rgb(1, 21, 110);
  font-weight: 325;
}
